<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <!-- Nav Bar -->
        {% set navigation_bar = [
            ('/', 'index', 'Home'),
            ('/help', 'help', 'Help')
        ] %}

        {% set active_page = active_page|default('index') -%}
        
        <ul id="navigation">
            {% for href, id, caption in navigation_bar %}
                <li {% if id == active_page %} class="active" {% endif %}>
                    <a href="{{ href|e }}">{{ caption|e }}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- Webpage Content -->
        <div class="contentDiv">
        {% block body %}
        {% endblock %}
        </div>
    </body>
</html>
