{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block body %}
<h1>NCC Data Updater</h1>

<!-- TODO: Add the url_for -->
<form action="{{ url_for('update_data') }}" method="post" name="form" onsubmit="return isEmpty()" enctype="multipart/form-data">

    <label>Training Date</label>
    <input type="date" name="date"><br><br>
    
    <label>Training Timetable:</label>
    <input type="file" name="timetable"><br><br>
    
    <label>Attire:</label>
    <input type="text" name="attire"><br><br>
    
    <label>Venue:</label>
    <input type="text" name="venue"><br><br>
    
    <label>Timing:</label>
    <input type="text" name="timing"><br><br>

    <input type="submit" value="Update">
</form>

<script>
    // Validate values, make sure none are empty
    function isEmpty() {
        var attire = document.forms["form"]["attire"].value;
        var venue = document.forms["form"]["venue"].value;
        var timing = document.forms["form"]["timing"].value;
        var date = document.forms["form"]["date"].value;

        var timetable = document.forms["form"]["timetable"].value;
    
        if (attire == "" || venue == "" || timing == "" || timetable == "" || date == "") {
            alert("Missing values, please fill up ALL fields.")
            return false;
        }
    }
</script>
{% endblock %}
