{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block body %}
<h1>NCC Data Updater</h1>

<!-- TODO: Add the url_for -->
<form action="{{ url_for('update_data') }}" method="post">
    <label>Attire:</label>
    <input type="text" name="attire"><br><br>
    
    <label>Venue:</label>
    <input type="text" name="venue"><br><br>
    
    <label>Timing:</label>
    <input type="text" name="timing"><br><br>

    <input type="submit">
</form>

<footer class="footer">
    <p>Lol no css formatting cuz I'm too lazy</p>
</footer>
{% endblock %}
